:root {
  --clr-body: #f1f5f8;
  --clr-nav: white;
  --clr-btn: #49a6e9;
  --clr-links: #324d67;
  --clr-socials-hover: #063251;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-body);
  position: relative;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* 
============
showModal
============
*/

.showModal {
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  padding: 0.5rem 1rem;
  color: #eee;
  background-color: #222;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
